<html>
    <head>
        <title>html editor</title>
    </head>
    <body>
        <div style="width:49.5%;height:50%;float:left">
            <form method="POST">
                <textarea name="item_text" id="id_new_item" placeholder="<!--Write your HTML Code here-->" style="width:100%;height:100%;"></textarea><br><br>
                {% csrf_token %}
                <input type = "submit" value = "RUN" style="background: #00ff99;padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;border-radius: 10px;" />
            </form>
        </div>
        <div style="width:49.5%;height:50%;float: right;border: solid 1px;border-color: #bbb;">
            {{ var1 }}
        </div>
    </body>
</html>
